*{
margin:0;
padding:0;
box-sizing:border-box;
transition: all .1s ease-in;
}

body{
background:#2f88b7;
font-family:Arial, sans-serif;
padding:40px;
}

.container{
width:1170px;
margin:0 auto;
}

h1{
color:white;
margin-bottom:20px;
text-align: left;
font-weight: normal;
}

.weather{
list-style:none;
border:2px solid white;
font-size:0;
}

.weather li{
display:inline-block;
color:white;
font-size:18px;
padding:30px 0;
border:1px solid rgba(255,255,255,0.5);
vertical-align:top;
opacity: 1;
transition: opacity 0.3s;
text-align: center;
}

.lisbon{width:50%; background:#69a6c4;}
.paris{width:25%; background:#63c0bd;}
.belgrade{width:25%; background:#a88aa8;}
.venice{width:25%; background:#c94a46;}
.telaviv{width:25%; background:#e08a74;}
.cair{width:25%; background:#e7c781;}
.newyork{width:25%; background:#9fc3a3;}
.delhi{width:25%; background:#8eaeb1;}
.sanfran{width:50%; background:#c4839f;}
.tokyo{width:25%; background:#6fb090;}
.sydney{width:100%; background:#8f90b3;}

.weather:hover li {
    opacity: 0.5;
}
.weather li:hover {
    opacity:1;
}

.footer {
margin-top: 30px;
color:white;
font-size:14px;
text-align: left;
}